<%= _.template(require('./../includes/header.html'))({}) %>
<section class="banner banner-service">
    <div class="banner__content">
        <img src="img/banner-service.jpg" class="banner__img" alt="Баннер" />
        <div class="banner__disclaimer banner-service__disclaimer">
            <!-- <img src="img/rings_wh.png" class="banner__disclaimer-rings"/> -->
            <h1 class="banner__disclaimer-text banner-service__text">Бонусная програма <br>на Audi сервис</h1>
        </div>
        <div class="banner-service__subtext">Только у нас бонусы равные сумме чека на обслуживание вашего Audi</div>
        <button data-src="#callback" data-fancybox class="btn btn-white banner__btn btn-mobile-black">Записаться на сервис</button>
        <div class="banner-service__date">*Акция действует до 13.05.2019</div>
    </div>
</section>

<%= _.template(require('./../includes/top-menu.html'))({}) %>
<%= _.template(require('./../includes/special-offers.html'))({}) %>
<%= _.template(require('./../includes/services.html'))({}) %>

<%= _.template(require('./../includes/cars/preference.html'))({}) %>
<%= _.template(require('./../includes/question.html'))({}) %>
<%= _.template(require('./../includes/contact.html'))({}) %>

<%= _.template(require('./../includes/footer.html'))({}) %>
<%= _.template(require('./../includes/modal.html'))({}) %>
<%= _.template(require('./../includes/modal-service.html'))({}) %>
<%= _.template(require('./../includes/script.html'))({}) %>
</body>
</html>